doctype html
html
    head
        title zenstore
        script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js')
        link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        style.
            body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:0; padding:0; }
            #map { position:absolute; top:0; bottom:0; right: 350px; left: 0px; }
            .sidebar, .ndsidebar { position: absolute; top: 0; bottom: 0px; right: 0; width: 349px;
                border-left: 1px solid #fff;
                display: block;
                background: #2C84CB;
            }
            .zen { margin-top: 10px; margin-left: 10px; font-weight: 100; font-size: 2em; color: #fff; }
            .follow {
                padding: 10px;
                background: #fff;
            }
    body
        #map
        .sidebar
            .zen zen-store &#9729;
            .follow
                span(id='followtxt')
        script.
            var socket = io.connect('http://localhost');
            socket.on('update:mylink', function (data) {
                console.log(data);
                document.getElementById('followtxt').textContent = JSON.stringify(data.data);
                marker.setLatLng(L.latLng(Math.cos(Math.random()*50 * 0.5) * 50,Math.sin(Math.random()*50) * 50))
            });
            var map = L.mapbox.map('map', 'imdbmap.h8m50odg');
            var marker = L.marker([0, 0], {}); marker.addTo(map);
        
