doctype html
html
    head
        title zenstore
        script(src='http://underscorejs.org/underscore-min.js')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src='http://backbonejs.org/backbone-min.js')
        script(src='/socket.io/socket.io.js')
        style.
            @-webkit-keyframes expand {
                0% { width: 349px; }
                40%   { width: 349px; }
                  100% { width: 100%; }
            }
            @-moz-keyframes expand {
                0% { width: 349px; }
                40%   { width: 349px; }
                  100% { width: 100%; }
            }
            @-o-keyframes expand {
                0% { width: 349px; }
                40%   { width: 349px; }
                  100% { width: 100%; }
            }
            @keyframes expand {
                0% { width: 349px; }
                40%   { width: 349px; }
                  100% { width: 100%; }
            }
            body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:0; padding:0; }
            .type {
                position:absolute; 
                top:0; bottom:0; 
                right: 350px; left: 0px;
            }
            .type span {
                color: #ccc;
                margin: 25% 10px;
                width: 444px;
                display: inline-block;
                font-size: 4em;
            }
            .sidebar, .ndsidebar { position: absolute; top: 0; bottom: 0px; right: 0; width: 349px;
                border-left: 1px solid #fff;
                display: block;
                background: #2C84CB;
                -webkit-animation: expand 1.6s 1; /* Safari 4+ */
                -moz-animation:    expand 1.6s 1; /* Fx 5+ */
                -o-animation:      expand 1.6s 1; /* Opera 12+ */
                animation:         expand 1.6s 1; 
                -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;
                -o-animation-fill-mode: forwards;
            }
            .zen { margin-top: 10px; margin-left: 10px; font-weight: 100; font-size: 2em; color: #fff; }
            .follow {
                padding: 10px;
                background: #fff;
            }
    body
        .type
            span No Type Found
        .sidebar
            .zen zen-store &#9729;
            .follow
                span(id='followtxt')
        script.
            var socket = io.connect('http://localhost');
            var R = Backbone.Router.extend({
                routes: {
                    'follow/:link': function (link) {
                        $.get('/zenlink/'+link, function (data, success) {
                            if (success) {
                                $('#followtxt').text(data); 
                            }
                        });
                        socket.on('update:'+link, function (data) {
                            console.log(data);
                            $('#followtxt').text(JSON.stringify(data.data));
                        });
                    }
                }
            });
            $('#followtxt').html('<a href="https://github.com/johannesboyne/zenstore">Show on Github, see what it is</a>');
            new R();
            Backbone.history.start({pushState: true});
            
